*{
  font-family: montserrat;
}




body {
  background-image: linear-gradient(to left, #2ec70f, #af5616);
   
  }
  
  #mango {
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 0.5s ease;

  }

  #mango:hover {
    transform: scale(1.2);
  }
  
  #score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: 800;
    color: #fff;
  }
  
  #reset, #save {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#reset:hover{
    background-color: rgb(236, 0, 0);
    color: white;
}

#save:hover{
  background-color: #ffd000;
  color: white;
}
  
  /* Add some style for the message element */
  #message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 700; /* Add more font weight */
    opacity: 0;
    transition: opacity 0.5s ease;
    border: none;

}


label {
  color: rgb(255, 255, 255);
  margin-left: 12px;
  font-weight: 600;
}

select{
  padding: 11px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  margin-left: 12px;
}


option{
  font-weight: 600;
}


@media only screen and (max-width: 700px) {
  label {
    font-size: 14px;
    display: block;
    margin-bottom: 4px;
    margin-left: 3px;
    margin-top: 800px;
  }


  select{
    margin-left: 2px;
    margin-top: 1px;

  }

}
